.containerContact {
  height: 382px;
  background: url(../../assets/form.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 3rem;
    color: var(--white);
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 600;
  }

  p {
    max-width: 528px;
    margin-top: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: var(--gray-light);
    line-height: 1.5rem;
    text-align: center
  }

  .containerForm {
    margin-top: 6rem;
    display: flex;
    align-items: center;

    button {
      margin-left: 2.5rem;
      width: 7.375rem;
      height: 2.375rem;
      border-radius: 2.375rem;
      border: 0;
      background: var(--blue);

      font-family: "Inter", sans-serif;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: var(--white);
      font-weight: 500;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  @media (max-width: 550px) {
    background: var(--gray-200)
  }

  @media (max-width: 390px) {
    .containerForm {
      flex-direction: column;

      button {
        margin-left: 0;
        margin-top: 1.5rem
      }
    }
  }
}

.containerInput {
  input {
    border: 0;
    background: transparent;  

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--white);

    &:focus {
      outline: none
    }
  }

  div {
    display: flex;
    width: 16rem;
    height: 0px;
    left: 510px;
    top: 2808px;
    background: var(--white);

    border: 1px solid #FFFFFF;
  }
}

